.button {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.9s, transform 0.3s;
    border: none;
    color: rgb(154, 165, 176);
 
}

.button:hover {
    background: rgb(13, 15, 3);
    transform: scale(1.15);
    display: in;
}