.taskList {
    background-color: rgb(16, 18, 4);
    padding: 24px 20px 2px 20px;
    border-radius: 20px;
    
}

.tasks {
    text-align: center;
    color: rgb(182, 194, 207);
    margin: 10px;
    font-weight: 100;
}