body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFFFFF;

}


.card {
    background-color: #000000;
    max-width: 25%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 50px 2px black;

    margin: 10px;
    max-height: 150px; /* Ограничиваем высоту */
    overflow: hidden; /* Скрываем всё, что не помещается */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
}

.cardInfo p {
    margin: 0;
    background-color:white;
    padding: 1.5px;
    border-radius: 5px;
    /* box-shadow: 2px 1px 4px 2px white; */
}

.category {
    padding: 0;
}

.cardTittle {
    text-align: center;
    color: #FFFFFF;
    margin: 0;

}



.cardDescription {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.editButton {
    background-color: #000000;
}