body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}


.card {
    background-color: #000000;
    max-width: 25%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 3px 4px 2px black;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    margin: 0;
}

.cardInfo p {
    margin: 0;
    background-color:antiquewhite;
}

.category {
    padding: 0;
}


.cardTittle {
    text-align: center;
    color: #FFFFFF;
}

.cardDescription {
    color: #FFFFFF;
}


