body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFFFFF;
    
   
}

.card {
    margin: 10px;
    padding: 30px;
    background-color: rgb(13, 15, 3);
    border-radius: 10px;
    box-shadow: 2px 2px 50px 2px black;
    overflow-wrap: break-word; /* переносит на новую строку если заполенно*/

    width: 400px;
 
    }



.cardInfo {
    margin-top: 10px ;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.saveTaskButton, .cancelButton {
    border: none;
    padding: 5px;
    cursor: pointer;
    background: rgb(40, 47, 39);
    border-radius: 5px;
    color: rgb(154, 165, 176);
    transition: color 0.3s, transform 0.3s;
} 

.cancelButton:hover {
    color: red;
    transform: scale(1.05);
}
.saveTaskButton:hover {
    color: green;
    transform: scale(1.05);
}


.cardInfo p {
    margin: 0;
    background-color:white;
    padding: 1.5px;
    border-radius: 5px;
    /* box-shadow: 2px 1px 4px 2px white; */
}

.category {
    padding: 0;
}

.cardTittle {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    flex-wrap: wrap;
}


.cardDescription {
    color: #FFFFFF;
}



input, textarea{
    margin-bottom:20px ;
      width: 100%;
}


input, textarea, select {
    border-radius: 5px ;
    background-color: rgb(34, 39, 43);
    color: rgb(154, 165, 176);
}

.titleName, .descriptionName {
    padding: 0;
    margin: 0;
    color: rgb(154, 165, 176);
}

